.amount-choice {
  position: relative;
  z-index: 1;
  background-color: $white;
}

.amount-choice__wrapper {
  padding-top: 16px;
}

.amount-choice__title {
  @include reset-text;
  margin-bottom: 11px;
  font-family: "Roboto-Medium";
  font-size: 16px;

  @media (min-width: $tablet) {
    font-size: 22px;
  }
}

.amount-choice__text {
  @include reset-text;
  margin-bottom: 25px;
  font-size: 14px;

  @media (min-width: $tablet) {
    font-size: 16px;
  }
}

.amount-choice__input-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.amount-choice__input-min,
.amount-choice__input-max {
  font-family: "Roboto-Medium";
  font-size: 14px;

  @media (min-width: $tablet) {
    font-size: 18px;
  }
}

.amount-choice__input {
  position: relative;
  width: 79%;

  &:before {
    content: "";
    position: absolute;
    top: 16px;
    height: 9px;
    background: linear-gradient(90deg, #FF9796 4.65%, #FE4D4A 101.3%);
    border-radius: 8px;
  }

  @media (min-width: $tablet) {
    &:before {
      content: "";
      position: absolute;
      top: 22px;
      height: 9px;
      background: linear-gradient(90deg, #FF9796 4.65%, #FE4D4A 101.3%);
      border-radius: 8px;
    }
  }
}

.amount-choice__input-bubble {
  position: absolute;
  z-index: 2;
  top: -20px;
  margin-left: 20px;
  padding: 4px 6px;
  font-size: 14px;
  color: $white;
  background-color: $dark-pink;
  border-radius: 5px;

  &:after {
    content: "";
    position: absolute;
    top: 20px;
    left: 22px;
    width: 7px;
    height: 7px;
    background-image: url("../../images/rectangle.svg");
    background-size: 7px 7px;
  }

  @media (min-width: $tablet) {
    font-size: 16px;

    &:after {
      content: "";
      position: absolute;
      top: 23px;
      left: 22px;
      width: 7px;
      height: 7px;
      background-image: url("../../images/rectangle.svg");
      background-size: 7px 7px;
    }
  }
}


