.amount-result__wrapper {
  padding-top: 16px;
}

.amount-result__text {
  @include reset-text;
  margin-bottom: 16px;
  font-family: "Roboto-Medium";
  font-size: 16px;
  line-height: 25px;

  @media (min-width: $tablet) {
    font-size: 22px;
  }
}

.amount-result__calculation-list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 580px;
  margin-bottom: 26px;

  @media (min-width: $tablet) {
    flex-wrap: nowrap;
    justify-content: start;
    padding-left: 12px;
    margin-bottom: 0;
  }
}

.amount-result__calculation-item {
  position: relative;
  margin-bottom: 26px;
  margin-right: 30px;
  width: 150px;

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
    width: 200px;
  }

  @media (min-width: $tablet) {
    margin-right: 33px;

    &:last-child {
      width: 208px;
    }
  }
}

.amount-result__calculation {
  @include reset-text;
  margin-bottom: 8px;
  color: $dark-pink;
  font-family: "Roboto-Bold";
  font-size: 18px;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 25px;
  }
}

.amount-result__description {
  @include reset-text;
  font-size: 14px;

  @media (min-width: $tablet) {
    font-size: 16px;

    &--investment {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }
  }
}

.amount-result__detailed-description-button {
  @include reset-button;
  display: inline-block;
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  background-color: $light-pink;
  font-size: 13px;
  color: $dark-pink;
  text-align: center;
  vertical-align: center;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  transition: 0.3s;

  &:hover,
  &:focus,
  &:active {
    color: white;
    background-color: $dark-pink;
  }

  @media (min-width: $tablet) {
    width: 20px;
    height: 20px;
  }
}

.amount-result__detailed-description {
  @include reset-text;
  position: absolute;
  z-index: 2;
  left: calc(100% - 195px);
  bottom: 27px;
  padding: 16px 19px;
  min-width: 255px;
  background-color: $dark-pink;
  color: $white;
  border-radius: 5px;
  opacity: 0.9;

  &:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 98px;
    width: 9px;
    height: 9px;
    background-image: url("../../images/rectangle.svg");
    background-size: 9px 9px;
    background-position: center;
  }

  &--investment {
    left: calc(100% - 235px);

    &:after {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 164px;
      width: 9px;
      height: 9px;
      background-image: url("../../images/rectangle.svg");
      background-size: 9px 9px;
      background-position: center;
    }
  }

  @media (min-width: $tablet) {
    width: 299px;
  }
}

.amount-result__footnote {
  font-size: 9px;
  color: $white;
  cursor: pointer;
}

.amount-result__coins-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.amount-result__coin {
  margin-left: -40px;
  width: 55px;
  height: 56px;
  background-image: url("../../images/coin.png");

  &:last-child {
    width: fit-content;
  }
}
