.amount-choice {
  position: relative;
  z-index: 1;
  background-color: $white;
}

.amount-choice__wrapper {
  padding-top: 16px;
}

.amount-choice__title {
  @include reset-text;
  margin-bottom: 11px;
  font-family: "Roboto-Medium";
  font-size: 16px;

  @media (min-width: $tablet) {
    font-size: 22px;
  }
}

.amount-choice__text {
  @include reset-text;
  margin-bottom: 25px;
  font-size: 14px;

  @media (min-width: $tablet) {
    font-size: 16px;
  }
}

.amount-choice__input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.amount-choice__input-min,
.amount-choice__input-max {
  font-family: "Roboto-Medium";
  font-size: 14px;

  @media (min-width: $tablet) {
    font-size: 18px;
  }
}

.amount-choice__input {
  width: 79%;
}

