.statistics {
  background-color: $light-pink;
}

.statistics__wrapper {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistics__open-button {
  @include reset-button;
  position: relative;
  margin-bottom: 24px;
  align-self: center;
  width: max-content;
  color: $dark-pink;
  font-size: 14px;
  transition: 0.3s;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    right: -15px;
    width: 13px;
    height: 5px;
    background-image: url("../../images/vector.svg");
    background-size: 13px 5px;
  }

  &--active {
    &::after {
      transform: rotate(180deg);
    }
  }

  @media (min-width: $tablet) {
    font-size: 16px;
  }
}

.statistics__average {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 0;
  max-height: 0;
  transition: max-height 1s;
  overflow: hidden;

  &--active {
    height: auto;
    max-height: 2000px;
  }
}

.statistics__average-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 297px;
  margin-bottom: 30px;
}

.statistics__average-value {
  @include reset-text;
  padding-top: 145px;
  padding-bottom: 28px;
  margin-bottom: 8px;
  width: 200px;
  text-align: center;
  color: $dark-pink;
  font-family: "Roboto-Bold";
  font-size: 18px;
  background-color: #FFF6F8;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: calc(100% - 60px);

  @media (min-width: $tablet) {
    font-size: 22px;
  }
}

.statistics__average-text {
  @include reset-text;
  text-align: center;
  text-transform: lowercase;

  @media (min-width: $tablet) {
    font-size: 16px;
  }
}

.statistics__percents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $tablet) {
    justify-content: space-between;
    width: 480px;
  }
}
.statistics__percents-wrapper {
  margin-bottom: 29px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 190px;
}

.statistics__percents-value {
  @include reset-text;
  margin-bottom: 9px;
  color: $dark-pink;
  font-family: "Roboto-Bold";
  font-size: 18px;

  @media (min-width: $tablet) {
    font-size: 20px;
  }
}

.statistics__diagram-wrapper {
  position: relative;
  margin-bottom: 32px;
  width: 126px;
  height: 126px;
  border: 15px solid $white;
  border-radius: 50%;
}

.statistics__diagram {
  position: absolute;
  top: -30px;
  left: -31px;
  width: 155px;
  height: 155px;
  stroke: $dark-pink;
  stroke-width: 7px;
  fill: none;
  stroke-dashoffset: 25;
  fill: none;

  &--more-thousand {
    stroke-dasharray: 50 50;
  }

  &--more-ten-thousand {
    stroke-dasharray: 7 93;
  }
}
