@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"),
    url("../fonts/Roboto-Regular.woff2"),
    url("../fonts/Roboto-Regular.woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.woff2"),
    url("../fonts/Roboto-Medium.woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.woff2"),
    url("../fonts/Roboto-Bold.woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
