input[type="range"] {
  position: relative;
  -webkit-appearance: none;
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 9px;
  background: $grey;
  border-radius: 8px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  position: relative;
  appearance:none;
  -webkit-appearance:none;
  top: -8px;
  width: 25px;
  height: 25px;
  background-color: $white;
  border: 8px solid $dark-pink;
  border-radius: 50%;

  &:hover,
  &:focus {
    opacity: 0.9;
  }
}
